<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title>stream</title>
  <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  <style type="text/css">
  #main {
    width: 450px;
    margin: 0 auto;
  }
  </style>
  <script>
    var socket = io.connect('http://localhost:5000');
    socket.on('newTweetSent', function(data) {
      $('#stream').prepend(data.html);
    });
    $(function() {
      $('#startStream').click(function() {
	socket.emit('restartStream', {});
      });
      $('#stopStream').click(function() {
	socket.emit('stopStream', {});
      });
    });
  </script>
</head>
<body>
  <div id="main">
    <h1><a href="#" id="stopStream">stop</a></h1>
    <h1><a href="#" id="startStream">start</a></h1>
    <div id="stream"></div>
  </div>
</body>
</html>